<% include ../partials/header.html %>
<link href="../../custom/css/user/settings.css" rel="stylesheet">
<style>
    .force-hidden {
        display: none;
    }

    .content {
        display: none;
    }

    .preload {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
    }


    /* CSS FOR FIXED HEAD TABLE */
    .tableFixHead {
        overflow-y: auto;
        height: 200px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        background: #323a46;
        color: #f7f7f7;
    }
</style>


<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-11">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a class="text-primary groups-tab-breadcrumb"
                                href="/v1/admin/tenants">Tenants</a>
                        </li>
                        <li class="breadcrumb-item" id="group_name"><a href="#">Create</a></li>
                    </ol>

                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-dark btn-sm waves-effect"><a
                            href='/v1/admin/tenants'>Cancel</a></button>
                </div>

            </div>

            <div class="row">

                <div class="col-md-2 p-1">

                    <div class="tab">

                        <button class="tablinks" onclick="openCreateUserPool(event, 'name')" id="defaultOpen">
                            &nbsp Name</button>
                        <button class="tablinks" onclick="openCreateUserPool(event, 'attributes')">&nbsp
                            Attributes</button>
                        <button class="tablinks" onclick="openCreateUserPool(event, 'policies')">&nbsp
                            Policies</button>
                        <button class="tablinks" onclick="openCreateUserPool(event, 'verifications')">&nbsp
                            MFA and Verifications</button>
                        <button class="tablinks" onclick="openCreateUserPool(event, 'custom')">&nbsp
                            Message Custom</button>
                        <button class="tablinks" onclick="openCreateUserPool(event, 'tags')">&nbsp
                            Tags</button>
                        <button class="tablinks" onclick="openCreateUserPool(event, 'devices')">&nbsp
                            Devices</button>
                        <button class="tablinks" onclick="openCreateUserPool(event, 'appClients')">&nbsp
                            App Clients</button>
                        <button class="tablinks" onclick="openCreateUserPool(event, 'triggers')">&nbsp
                            Triggers</button>
                        <button class="tablinks" onclick="openCreateUserPool(event, 'review')">&nbsp
                            Review</button>
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="container">
                        <div id="name" class="tabcontent">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="col-form-label" for="poolName">Tenant ID</label>

                                        <input type="text" id="pool_name" class="form-control " required=""
                                            placeholder="Required">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4 text-left">
                                    <div class="checkbox checkbox-primary">
                                        <input id="mcube_transcode" type="checkbox" name="signIn" checked disabled>
                                        <label for="mcube_transcode">
                                            Transcode
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="mcube_adv_transcode" type="checkbox" name="signIn" value=" ">
                                        <label for="mcube_adv_transcode">
                                            Advanced Transcode
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="mcube_data_science" type="checkbox" name="signIn" value=" ">
                                        <label for="mcube_data_science">
                                            Data Science
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button type="button"
                                        class="btn btn-purple waves-effect waves-light btn-sm tablinks create-user-pool">Create</button>

                                </div>
                            </div>
                        </div>

                        <div id="attributes" class="tabcontent">
                            <div class="row" id="sign">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="signIn">Sign In</label>
                                    </div>
                                </div>
                                <div class="col-sm-3 mt-1">
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox1" type="checkbox" name="signIn">
                                        <label for="checkbox1">
                                            UserName
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox2" type="checkbox" name="signIn" value=" ">
                                        <label for="checkbox2">
                                            Email or Phone Number
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="standardAttributes">Required
                                            Attribute</label>
                                    </div>
                                </div>
                                <div class="col-sm-5 mt-1">
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3">
                                            Address
                                        </label>
                                    </div>

                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox4" type="checkbox">
                                        <label for="checkbox4">
                                            BirthDate
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox5" type="checkbox">
                                        <label for="checkbox5">
                                            Email
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox6" type="checkbox">
                                        <label for="checkbox6">
                                            Family Name
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox7" type="checkbox">
                                        <label for="checkbox7">
                                            Gender
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox8" type="checkbox">
                                        <label for="checkbox8">
                                            Given Name
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5 mt-1">
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox9" type="checkbox">
                                        <label for="checkbox9">
                                            NickName
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox10" type="checkbox">
                                        <label for="checkbox10">
                                            Phone Number
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox11" type="checkbox">
                                        <label for="checkbox11">
                                            Picture
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox12" type="checkbox">
                                        <label for="checkbox12">
                                            Profile
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox13" type="checkbox">
                                        <label for="checkbox13">
                                            Website
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox14" type="checkbox">
                                        <label for="checkbox14">
                                            Updated at
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="row mt-4">
                                <div class="col-sm-2 offset-sm-2">

                                    <button type="button" style="width: 77%;"
                                        class="btn btn-purple waves-effect waves-light btn-sm tablinks"
                                        onclick="openCreateUserPool(event, 'name')">Back</button>
                                </div>
                                <div class="col-sm-2 offset-sm-3">
                                    <button type="button"
                                        class="btn btn-purple waves-effect waves-light btn-sm next-step tablinks"
                                        onclick="openCreateUserPool(event, 'policies')">Next</button>
                                </div>
                            </div>-->
                        </div>


                        <div id="policies" class="tabcontent">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-form-label" for="passwordStrength">Minimum Password
                                            Strength</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input id="length" name="length" placeholder="Length" class="form-control"
                                        type="text" required>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-form-label" for="passwordPolicy">Required Password
                                            Policy</label>
                                    </div>
                                </div>
                                <div class="col-sm-5 mt-1">
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox15" type="checkbox">
                                        <label for="checkbox15">
                                            Required Numbers
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox16" type="checkbox">
                                        <label for="checkbox16">
                                            Required Special Charcters
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox17" type="checkbox">
                                        <label for="checkbox17">
                                            Required Uppercase Charcters
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox18" type="checkbox">
                                        <label for="checkbox18">
                                            Required Lowercase Charcters
                                        </label>
                                    </div>
                                </div>

                            </div>


                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-form-label" for="daysToExpire">Days to Expire</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input id="expire" name="expire" placeholder="Expire" class="form-control"
                                        type="text" required>
                                </div>

                            </div>

                            <hr style="margin-top: 0rem;margin-bottom: 1rem;">
                           <!-- <div class="row mt-3">

                                <div class="col-sm-3 offset-sm-3">
                                    <button type="button"
                                        class="btn btn-purple waves-effect waves-light btn-sm tablinks"
                                        onclick="openCreateUserPool(event, 'attributes')">Cancel</button>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button"
                                        class="btn btn-purple waves-effect waves-light btn-sm next-step tablinks"
                                        onclick="openCreateUserPool(event, 'verifications')">Next
                                        Step</button>
                                </div>
                            </div> -->


                        </div>


                        <div id="verifications" class="tabcontent">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-form-label"
                                            for="MultiFactorAuthentication">MultiFactor-Authentication</label>
                                    </div>
                                </div>
                                <div class="col-sm-2 mt-1">
                                    <div class="radio radio-info form-check-inline">
                                        <input type="radio" name="radio" id="radio1" value="option1">
                                        <label for="off"> Off</label>
                                    </div>
                                    <div class="radio radio-info form-check-inline">
                                        <input type="radio" name="radio" id="radio2" value="option2">
                                        <label for="optional">Optional</label>
                                    </div>
                                    <div class="radio radio-info form-check-inline">
                                        <input type="radio" name="radio" id="radio3" value="option3">
                                        <label for="required">Required</label>
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-form-label" for="Verification">Verification </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 mt-1">
                                    <div class="radio radio-info form-check-inline">
                                        <input type="radio" name="radio1" id="radio4" value="option4">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="radio radio-info form-check-inline">
                                        <input type="radio" name="radio1" id="radio5" value="option5">
                                        <label for="PhoneNO">Phone Number</label>
                                    </div>
                                    <div class="radio radio-info form-check-inline">
                                        <input type="radio" name="radio1" id="radio6" value="option6">
                                        <label for="emailPhone">Email or Phone Number</label>
                                    </div>
                                    <div class="radio radio-info form-check-inline">
                                        <input type="radio" name="radio1" id="radio7" value="option7">
                                        <label for="noVerification">No Verification</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="form-group col-sm-3">
                                    <label class="col-form-label" for="newRoleName">New Role Name</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" id="roleName" class="form-control " required=""
                                        placeholder="New Role Name">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button"
                                        class="btn btn-bordred-secondary waves-effect btn-sm">Create</button>

                                </div>
                            </div>

                            <hr style="margin-top: 0rem;margin-bottom: 1rem;">
                            <!--<div class="row mt-3">
                                <div class="col-sm-3 offset-sm-3">
                                    <button type="button"
                                        class="btn btn-purple waves-effect waves-light btn-sm tablinks"
                                        onclick="openCreateUserPool(event, 'policies')">Cancel</button>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button"
                                        class="btn btn-purple waves-effect waves-light btn-sm next-step tablinks"
                                        onclick="openCreateUserPool(event, 'custom')">Next
                                        Step</button>
                                </div>
                            </div> -->

                        </div>

                        <div id="accordion">
                            <div id="tags" class="tabcontent">
                                <div class="row">
                                    <div class="col-sm-2 offset-sm-2">
                                        <h5 class="m-0">
                                            <a href="#collapseOne" class="text-dark" data-toggle="collapse"
                                                aria-expanded="true" aria-controls="collapseOne">
                                                <button type="button"
                                                    class="btn btn-dark waves-effect width-sm waves-light btn-sm"
                                                    id="Tag">
                                                    Tag</button>
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button"
                                            class="btn btn-dark waves-effect width-sm waves-light btn-sm"
                                            id="addTag">Add
                                            Tag</button>
                                    </div>

                                </div>
                                <form id="form1" data-parsley-validate novalidate>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="row mt-1">
                                            <div class="col-sm-5 offset-sm-2 ">
                                                <div class="form-group">
                                                    <label class="col-form-label" for="tagKey">Tag Key</label>
                                                    <input id="tagKey" name="tagKey" placeholder="Required"
                                                        class="form-control" type="text" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label" for="tagValue">Tag Value</label>
                                                <input id="tagValue" name="tagValue" placeholder="Required"
                                                    class="form-control" type="text" required>
                                                <span class="close">x</span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="add-tag-form-div"></div>
                                    </div>
                                </form>


                               <!-- <div class="row mt-3">

                                    <div class="col-sm-2 offset-sm-2">
                                        <button type="button"
                                            class="btn btn-purple waves-effect waves-light btn-sm tablinks"
                                            onclick="openCreateUserPool(event, 'custom')">Cancel</button>
                                    </div>
                                    <div class="col-sm-4 offset-sm-1">
                                        <button type="button"
                                            class="btn btn-purple waves-effect waves-light btn-sm next-step tablinks"
                                            onclick="openCreateUserPool(event, 'devices')">Next
                                            Step</button>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                        <div id="accordion">
                            <div id="devices" class="tabcontent">
                                <div class="row">
                                    <div class="col-sm-2 offset-sm-2">
                                        <h5 class="m-0">
                                            <a href="#collapseOne" class="text-dark" data-toggle="collapse"
                                                aria-expanded="true" aria-controls="collapseOne">

                                                <button type="button"
                                                    class="btn btn-dark waves-effect width-sm waves-light btn-sm">Always</button>
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button"
                                            class="btn btn-dark waves-effect width-sm waves-light btn-sm">User Opt
                                            In</button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button"
                                            class="btn btn-dark waves-effect width-sm waves-light btn-sm">No</button>
                                    </div>
                                </div>
                                <form id="always" data-parsley-validate novalidate>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="row">
                                            <div class="col-sm-6 offset-sm-2 mt-4">
                                                Do you want to use a remembered device to suppress the second factor
                                                during
                                                multi-factor authentication (MFA)?
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 offset-sm-3 mt-4">
                                                <button type="button"
                                                    class="btn btn-lighten-secondary waves-effect  btn-sm">Yes</button>
                                            </div>
                                            <div class="col-sm-2 mt-4">
                                                <button type="button"
                                                    class="btn btn-lighten-secondary waves-effect  btn-sm">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>


                                <!--<div class="row mt-4">
                                    <div class="col-sm-2 offset-sm-2">
                                        <button type="button"
                                            class="btn btn-purple waves-effect waves-light btn-sm tablinks"
                                            onclick="openCreateUserPool(event, 'tags')">Cancel</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button"
                                            class="btn btn-purple waves-effect waves-light btn-sm next-step tablinks"
                                            onclick="openCreateUserPool(event, 'appClients')">Next
                                            Step</button>
                                    </div>
                                </div> -->

                            </div>
                        </div>


                        <div id="accordion">
                            <div id="appClients" class="tabcontent">
                                <div class="row">
                                    <div class="col-sm-3 offset-sm-2">
                                        <h5 class="m-0">
                                            <a href="#collapseOne" class="text-dark" data-toggle="collapse"
                                                aria-expanded="true" aria-controls="collapseOne">
                                                <button type="button"
                                                    class="btn btn-dark waves-effect width-sm waves-light btn-sm">Add
                                                    an app client</button>
                                    </div>
                                    </a>
                                    </h5>
                                    <div class="col-sm-3">
                                        <button type="button"
                                            class="btn btn-dark waves-effect width-sm waves-light btn-sm">Return
                                            to pool details Tag</button>
                                    </div>

                                </div>

                                <form id="form2" data-parsley-validate novalidate>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="row">
                                            <div class="col-sm-5 offset-sm-2 mt-3">
                                                <div class="form-group">
                                                    <label class="col-form-label" for="appClientName">App Client
                                                        Name</label>
                                                    <input id="appClientName" name="appClientName"
                                                        placeholder=" App Client Name" class="form-control" type="text"
                                                        required>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 offset-sm-2 mt-2">
                                                <div class="form-group">
                                                    <label class="col-form-label" for="tokenExpiration">Refresh
                                                        Token
                                                        Expiration(days)</label>
                                                    <input id="refreshTokenExpiration" name="refreshTokenExpiration"
                                                        placeholder="Refresh Token" class="form-control" type="text"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>


                                <!--<div class="row mt-4">
                                    <div class="col-sm-2 offset-sm-2">
                                        <button type="button"
                                            class="btn btn-purple waves-effect waves-light btn-sm tablinks"
                                            onclick="openCreateUserPool(event, 'devices')">Cancel</button>
                                    </div>
                                    <div class="col-sm-3 offset-sm-1">
                                        <button type="button"
                                            class="btn btn-purple waves-effect waves-light btn-sm next-step tablinks"
                                            onclick="openCreateUserPool(event, 'triggers')">Next
                                            Step</button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div id="custom" class="tabcontent">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-form-label" for="amazonSes">Amazon SES
                                            Configuration</label>
                                    </div>
                                </div>
                                <div class="col-sm-3 mt-1">
                                    <div class="radio radio-info form-check-inline">
                                        <input type="radio" name="radio2" id="radio8" value="option8">
                                        <label for="amazonSes">Yes-Use Amazon SES</label>
                                    </div>
                                    <div class="radio radio-info form-check-inline">
                                        <input type="radio" name="radio2" id="radio9" value="option9">
                                        <label for="useCognito">No-Use Cognito(Default)</label>
                                    </div>
                                </div>

                            </div>
                            <div class="row pt-3">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-form-label" for="InvitationMessage">Invitation
                                            Message</label>
                                    </div>
                                </div>

                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="col-form-label" for="smsMessage">SMS Message</label>
                                        <input id="smsMessage" placeholder="Your Username and Password"
                                            class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 offset-sm-3 mt-1">
                                    <div class="form-group">
                                        <label class="col-form-label" for="emailSubject">Email Subject</label>
                                        <input id="emailSubject" placeholder="Your Verification Code"
                                            class="form-control" type="text" required>
                                    </div>
                                </div>
                                <div class="col-sm-5 offset-sm-3 mt-1">
                                    <div class="form-group">
                                        <label class="col-form-label" for="emailMessage">Email Message</label>
                                        <textarea id="emailMessage" placeholder="Your Verification Code"
                                            class="form-control" type="text" rows="2" required></textarea>
                                    </div>
                                </div>
                            </div>

                            <hr style="margin-top: 0rem;margin-bottom: 1rem;">
                           <!-- <div class="row mt-2">
                                <div class="col-sm-2 offset-sm-3">
                                    <button type="button"
                                        class="btn btn-purple waves-effect waves-light btn-sm tablinks"
                                        onclick="openCreateUserPool(event, 'verifications')">Cancel</button>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button"
                                        class="btn btn-purple waves-effect waves-light btn-sm next-step tablinks"
                                        onclick="openCreateUserPool(event, 'tags')">Next
                                        Step</button>
                                </div>
                            </div> -->


                        </div>

                        <!-- <div id="triggers" class="tabcontent">
                            <div class="row mt-3">
                                <div class="col-sm-3 offset-sm-2">
                                    <button type="button"
                                        class="btn btn-purple waves-effect waves-light btn-sm tablinks"
                                        onclick="openCreateUserPool(event,'appClients')">Cancel</button>
                                </div>

                                <div class="col-sm-2">
                                    <button type="button"
                                        class="btn btn-purple waves-effect waves-light btn-sm next-step tablinks"
                                        onclick="openCreateUserPool(event,'review')">Next Step</button>
                                </div>
                            </div>

                        </div>-->
                        <!--app Review-->

                        <div id="review" class="tabcontent">

                        </div>

                        <!--container close below -->
                    </div>
                </div>

            </div> <!-- container-fluid -->

        </div>
    </div>

    <% include ../partials/footer.html %>

    <!-- END wrapper -->
</div>
<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>



<!-- custom js -->
<script src="../../custom/js/admin/create_tenant.js"></script>

<script>
    $(function () {

        $(".preload").fadeOut(2000, function () {
            $(".content").fadeIn(1000);
        });

    })
</script>

</body>

</html>