<% include ../partials/header.html %>

<style>
    .preload {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
    }

    .tenant-div {
        height: 100px;
        position: relative;
    }

    .tenant-div:hover {
        cursor: pointer;
        background-color: #f1f5f7;
        border-style: none !important;
    }

    .tenant-name {
        font-weight: bold;
        font-size: 18px;
        margin-top: 30px;
    }
</style>

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <h4>Your Tenants</h4>
                </div>
                <div class="col-md-6 text-right">

                    <button type="button" class="btn btn-dark btn-sm waves-effect"><a href="/v1/admin/create_tenant">Create Tenant</a></button>

                </div>

            </div>

            <div class="row mt-3" id="listUser"></div>

        </div>
    </div>

    <% include ../partials/footer.html %>

    <!-- END wrapper -->
</div>
<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>



<!-- custom js -->
<script src="../../custom/js/admin/user_pool_listing.js"></script>

<script>
    $(function () {

        $(".preload").fadeOut(2000, function () {
            $(".content").fadeIn(1000);
        });

    })
</script>

</body>

</html>