<% include ../partials/header.html %>

<style>
    .preload {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
    }

    .tenant-div {
        height: 100px;
        position: relative;
    }

    .tenant-div:hover {
        cursor: pointer;
        background-color: #f1f5f7;
        border-style: none !important;
    }

    .tenant-name {
        font-weight: bold;
        font-size: 18px;
        margin-top: 30px;
    }
</style>

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-11">
                    <ol class="breadcrumb m-0 pt-1">
                        <li class="breadcrumb-item"><a class="text-primary groups-tab-breadcrumb"
                                href="/v1/admin/tenants">Tenants</a>
                        </li>
                        <li class="breadcrumb-item" id="group_name"><a href="#">Info</a></li>
                    </ol>

                </div>
            </div>
            <nav class="navbar navbar-expand-sm navbar-dark p-0" style="border-bottom:1px solid #3b4452">
                <ul class="nav nav-tabs mr-auto" style="border:0">
                    <li class="nav-item">
                        <a href="#info-tab" id="infotab" data-toggle="tab" aria-expanded="false"
                            class="nav-link usernav active">
                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                            <span class="d-none d-sm-block">Info</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#users-tab" id="usertab" data-toggle="tab" aria-expanded="true"
                            class="nav-link groupnav">
                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                            <span class="d-none d-sm-block">Users</span>
                        </a>
                    </li>
                </ul>
                <ul class="ml-auto" style="list-style: none; margin-bottom: 5px;">
                    <li class="nav-item">

                        <button class="btn btn-xs btn-danger waves-effect waves-light delete-tenant-btn" id="deletebtn">
                            <i class="mdi mdi-delete-forever mr-1"></i>
                            <span>Delete
                                Tenant</span>
                        </button>

                        <button class="btn btn-xs btn-dark waves-effect waves-light" id="createbtn" data-toggle="modal"
                            data-target="#userRegisterModal"> <i class="mdi mdi-account-plus mr-1"></i> <span>Create
                                User</span>
                        </button>
                    </li>
                </ul>

            </nav>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="info-tab">
                    <dl class="row mt-3" id="tenantInfo">

                    </dl>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="users-tab">
                    <div class="row">

                        <div class="col-md-8 admin-listing-container">
                            <table id="list_all_admin_table" class="table dt-responsive nowrap table-sm w-100">
                                <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Name</th>
                                        <th>State</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody id="list_all_admin_tbody">

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4 user-overview-container">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <% include ../partials/footer.html %>

    <!-- END wrapper -->
</div>

<div class="modal fade" id="userRegisterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalScrollableTitle">Create User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action='' id='register-form' data-parsley-validate novalidate>

                    <div class="form-group">
                        <label for="name">Full Name</label>
                        <input class="form-control" type="text" id="fullName" placeholder="Enter your name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" id="email" required parsley-type="email"
                            placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" required id="password" data-parsley-minlength="8"
                            data-parsley-maxlength="16" placeholder="Enter your password">
                    </div>

                    <div class="form-group mb-0 mt-4 text-center">
                        <button id="signin-btn" class="btn btn-sm btn-primary btn-block signin-btn" type="submit">
                            Sign Up </button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>



<!-- custom js -->
<script src="../../custom/js/admin/tenantInfo.js"></script>

<script>
    $(function () {

        $(".preload").fadeOut(2000, function () {
            $(".content").fadeIn(1000);
        });

    })
</script>

</body>

</html>