<!-- Topbar Start -->
<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">

        <li class="d-none d-sm-block">
            <form class="app-search">
                <div class="app-search-box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn" type="submit">
                                <i class="fe-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </li>

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle waves-effect notification-bell-container" data-toggle="dropdown" href="#"
                role="button" aria-haspopup="false" aria-expanded="false">
                <i class="fe-bell noti-icon notification"></i>
                <!-- <span id="notify-count" class="badge badge-danger rounded-circle noti-icon-badge"></span> -->
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                <!-- item-->
                <div class="dropdown-item noti-title">
                    <h5 class="m-0">
                        <span class="float-right">
                            <a class="text-dark">
                                <small style="cursor: pointer;" id="clear_notifications_btn" class="remove_notification">Clear All</small>
                            </a>
                        </span>Notification
                    </h5>
                </div>
                <div class="slimscroll noti-scroll " id="notifications_container">
                    
                </div>

                <!-- All-->
                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                    View all
                    <i class="fi-arrow-right"></i>
                </a>

            </div>
        </li>

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="false" aria-expanded="false">
                <img src="../../images/icons/user.svg" alt="user-image" class="rounded-circle">

                <% if (userData !== '') { %>
                <span class="pro-user-name ml-1"><%=userData.idToken.payload.name%><i
                        class="mdi mdi-chevron-down"></i></span>
                <% } else { %>
                <span class="pro-user-name ml-1">
                    User <i class="mdi mdi-chevron-down"></i>
                </span>
                <% }  %>

            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <!-- item-->
                <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome !</h6>
                </div>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fe-user"></i>
                    <span>My Account</span>
                </a>

                <!-- item-->
                <!-- <a href="users/settings"  class="dropdown-item notify-item"> -->
                <a href="/v1/users/settings" class="dropdown-item notify-item">

                    <i class="fe-settings"></i>
                    <span>Settings</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fe-lock"></i>
                    <span>Lock Screen</span>
                </a>

                <div class="dropdown-divider"></div>

                <!-- item-->
                <a href="/logout" class="dropdown-item notify-item">
                    <i class="fe-log-out" id="logout" class="logout"></i>
                    <span>Logout</span>
                </a>

            </div>
        </li>

        <li class="dropdown notification-list">
            <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect">
                <i class="fe-settings noti-icon"></i>
            </a>
        </li>


    </ul>

    <!-- LOGO -->
    <div class="logo-box">
        <a class="logo text-center">
            <span class="logo-lg">
                <img src="../../images/icons/LogoSkandha.png" alt="Skandha" height="50">
                <!-- <span class="logo-lg-text-light">Xeria</span> -->
            </span>

            <span class="logo-sm">
                <!-- <span class="logo-sm-text-dark">X</span> -->
                <img src="../../images/icons/LogoSkandha.png" alt="" height="24">

            </span>

        </a>

    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
            <button class="button-menu-mobile disable-btn waves-effect">
                <i class="fe-menu"></i>
            </button>
        </li>

        <% if (section) { %>

        <li class="mt-2 ml-1">
            <h3><i class="mdi toggle-sidebar mdi-dots-vertical"></i></h3>
        </li>
        <li>
            <h4 class="page-title-main"><%= section%></h4>
        </li>

        <li>
            <h5 class="page-title-main"><%= sub_section%></h5>
        </li>




        <% }  else { %>
        <li>
            <h4 class="page-title-main">Asset Management</h4>
        </li>
        <li>
            <h5></h5>
        </li>
        <% } %>
        </li>
    </ul>
</div>
<!-- end Topbar -->