<% include ../partials/header.html %>

<!--Morris Chart-->
<link href="../../assets/libs/morris-js/morris.css" rel="stylesheet" />

<!--Custom Chart-->
<link href="../../custom/css/dashboard/index.css" rel="stylesheet" />

<!-- Sweet Alert-->
<link href="../../assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" />


<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>


    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <div class="row">

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                            <a id="total-asset-href">
                            <h4 class="header-title mt-0 mb-4">Total Assets</h4>
                            </a>
                            <div class="widget-chart-1">
                                <div class="widget-chart-box-1 float-left" dir="ltr">
                                    <input class="total-asset-graph-count" id='total-asset-graph-count' type="text" />
                                </div>

                                <div class="widget-detail-1 text-right">
                                    <h2 class="font-weight-normal pt-2 mb-1" id="total-asset"> </h2>
                                    <p class="text-muted mb-1">Total Assets</p>
                                </div>
                            </div>
                        </div>

                    </div><!-- end col -->

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                            <a id="todays_uploaded-href">
                            <h4 class="header-title mt-0 mb-3">Uploaded Today</h4>
                            </a>
                            <div class="widget-box-2">
                                <div class="widget-detail-2 text-right">
                                    <span id="todays-uploaded-asset-graph-count"
                                        class="badge badge-success badge-pill float-left mt-3"> <i
                                            class="mdi mdi-trending-up"></i> </span>
                                    <h2 class="font-weight-normal mb-1" id="todays-uploaded-asset-count"> </h2>
                                    <p class="text-muted mb-3">Uploaded Today</p>
                                </div>
                                <div class="progress progress-bar-alt-success progress-sm">
                                    <div id="todays-uploaded-asset-progress-bar" class="progress-bar bg-success"
                                        role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">77% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- end col -->




                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                            
                            <a id="total_transcoded_asset-href">
                            <h4 class="header-title mt-0 mb-4">Total Transcoded</h4>
                            </a>
                            <div class="widget-chart-1">
                                <div class="widget-chart-box-1 float-left" dir="ltr">

                                    <input class="total-transcoded-asset-count" id='total-transcoded-asset-count'
                                        type="text" />


                                </div>

                                <div class="widget-detail-1 text-right">
                                    <h2 class="font-weight-normal pt-2 mb-1" id="total-transcoded-asset"> </h2>
                                    <p class="text-muted mb-1">Total Transcoded</p>
                                </div>
                            </div>
                        </div>

                    </div><!-- end col -->


                    <div class="col-xl-3 col-md-6">
                     
                        <div class="card-box" id="demo">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                            
                            <a id='in-progress-href'>
                            <h4 class="header-title mt-0 mb-3" id="postWraper">In Progress</h4>
                            </a>
                            <div class="widget-box-2">
                                <div class="widget-detail-2 text-right">
                                    <span id="in-progress-graph-count"
                                        class="badge badge-pink badge-pill float-left mt-3"> <i
                                            class="mdi mdi-trending-up"></i> </span>
                                    <h2 class="font-weight-normal mb-1" id="in-progress"> </h2>
                                    <p class="text-muted mb-3">In Progress</p>
                                </div>
                                <div class="progress progress-bar-alt-pink progress-sm">
                                    <div id="in-progress-asset-progress-bar" class="progress-bar bg-pink"
                                        role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">77% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                    </div><!-- end col -->

                </div>

                <!-- end row -->

                <div class="row">

                    <div class="col-xl-4">
                        <div class="card-box">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>

                            <h4 class="header-title mt-0">Transcode</h4>

                            <div class="widget-chart text-center">
                                <div id="transcode-donut-chart" dir="ltr" style="height: 245px;" class="morris-chart">
                                </div>
                                <ul class="list-inline chart-detail-list mb-0">
                                    <li class="list-inline-item">
                                        <h5 style="color: #71b6f9;"><i class="fa fa-circle mr-1"></i>Basic</h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 style="color: #5b69bc;"><i class="fa fa-circle mr-1"></i>Standard</h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 style="color: #ff8acc;"><i class="fa fa-circle mr-1"></i>Premium</h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 style="color: #ffbd4a;"><i class="fa fa-circle mr-1"></i>Custom</h5>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div><!-- end col -->

                </div>


            </div><!-- end col -->

        </div>

        <!-- end row -->

    </div> <!-- container -->

    <% include ../partials/footer.html %>

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

</div>
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>


<!--Morris Chart-->

    
<script src="../../assets/libs/morris-js/morris.min.js"></script>
<script src="../../assets/libs/raphael/raphael.min.js"></script>

<!-- custom js -->
<script src="../../custom/js/dashboard/dashboard.js"></script>

</body>

</html>