<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/asset_management/asset_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12 asset-listing-container">
                    <table id="list_all_processing_list_table" class="table dt-responsive nowrap table-sm">
                        <thead>
                            <tr>
                             
                                <th>Asset Name</th>
                                <th>Modifaied On</th>
                                <th>Created By</th>
                               


                            </tr>
                        </thead>

                        <tbody id="list_all_processing_list_tbody">

                        </tbody>
                    </table>
                </div>
               

            </div>

        </div> <!-- container-fluid -->

        <% include ../partials/footer.html %>

    </div>



    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- custom js -->
<script src="../../custom/js/dashboard/proccessing_list.js"></script>


</body>

</html>