<% include header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/asset_management/advance_transcoding.css" rel="stylesheet">

<style>
    .force-hidden {
        display: none;
    }

    .content {
        display: none;
    }

    .preload {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
    }
  </style>
  <script>const child = require('vlc-player')( ['path/to/video.mp4'] ); 
 
	// vlc is started
	// child is a dummy nodejs process
	 
	setTimeout(function(){
	  child.kill();
	}, 1000);</script> 
  <script src="node_modules/video.js/dist/video-js/video.js"></script>
  <script src="lib/videojs-vlc.js"></script>
</head>
<body>
  <div class="info">
    <p>
      You can see the Video.js VLC plugin in action below.
      Look at the source of this page to see how to use it with your videos.
    </p>
  </div>
  <video id="video"
         class="video-js vjs-default-skin"
         height="300"
         width="600"
         controls
         data-setup='{ "techOrder": ["vlc"] }'>
    <p>
      Your browser doesn't support video. Please <a href="http://browsehappy.com/">upgrade your browser</a> to see the example.
    </p>
	
    <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type='video/mp4' />
  </video>

  
  <script src="../../dam/workers/testimdb.js"></script>
</body>
</html> -->
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <style>
    /*
 * Variables
 */
    body {
      background-color: #fff;
    }

    /*
 * Requirements list
 */
    .req-container ul {
      list-style-type: none;
      padding: 0px;
    }

    /*
 * form
 */
    .form-container input {
      background-color: #bdc3c7;
      border: 0px;
      padding: 3px 10px;
      margin: 5px 0px;
      font-size: 18px;
      width: 150px;
      box-shadow: 3px 3px 0px 0px #ecf0f1;
    }

    .form-container input:focus {
      background-color: #ecf0f1;
      box-shadow: 3px 3px 0px 0px #bdc3c7;
      outline: none;
    }

    .form-container input.invalid {
      background: rgba(192, 57, 43, 0.85);
    }

    .form-container button {
      border: 0px;
      margin: 5px 0px;
      background-color: #bdc3c7;
      font-size: 18px;
      box-shadow: 3px 3px 0px 0px #ecf0f1;
    }

    .form-container button:focus {
      box-shadow: none;
      outline: none;
      box-shadow: 3px 3px 0px 0px #7f8c8d;
    }

    .form-container button:hover {
      background-color: #ecf0f1;
      box-shadow: 3px 3px 0px 0px #bdc3c7;
    }

    .form-container button.valid {
      transition: all 0.75s ease;
      background-color: rgba(39, 174, 96, 0.85);
    }

    input::-webkit-input-placeholder {
      color: #fff;
    }

    input:focus::-webkit-input-placeholder {
      color: #ecf0f1;
    }

    input::-moz-placeholder {
      color: #fff;
    }

    input:focus::-moz-placeholder {
      color: #ecf0f1;
    }

    /*
 * req list
 */
    .req-container ul li {
      font-size: 18px;
      padding: 2.5px 0px;
    }

    .req-container ul li .glyphicon {
      transition: all 0.75s ease;
      float: left;
    }

    .req-container ul li .glyphicon.invalid {
      color: #c0392b;
    }

    .req-container ul li .glyphicon.valid {
      color: #27ae60;
      font-size: 22.5px;
      -webkit-transform: rotate(360deg);
    }

    /*
 * containers
 */
    #main-container {
      width: 450px;
      padding: 15px;
    }

    .form-container {
      float: left;
    }

    .req-container {
      float: left;
      padding-left: 15px;
    }
  </style>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<script>

  $(function () {
    "user strict";

    /**
     * start password checking logic
     */
    password.init();

  });

  /**
   * Hold functions related to client side password validation
   */
  var password = (function () {
    "use strict";

    var minPasswordLength = 6;

    var _hasLowerCase = /[a-z]/;
    var _hasUpperCase = /[A-Z]/;
    var _hasDigit = /\d/;
    // match special characters except space
    var _hasSpecial = /(_|[^\w\d ])/;

    var password = [];
    var password2 = [];

    var hasEightCharsListItem,
      hasUpperCaseListItem,
      hasLowerCaseListItem,
      hasSpecialListItem,
      hasDigitListItem;

    // Enforces that password2 = password, and display an error message if it does not
    var mustMatch = function () {

      if (password.val() !== password2.val()) {
        // show not matching error
        password2.addClass('invalid');
        return false;
      }

      password2.removeClass('invalid');
      return true;
    };

    // check validation and adjust classes
    var checkAndSwitchClasses = function (has, $element) {
      if (has) {
        $element.find(".glyphicon").removeClass("glyphicon-remove-circle").removeClass('invalid').addClass('valid').addClass("glyphicon-ok-circle");
        return true;
      }

      $element.find(".glyphicon").removeClass("glyphicon-ok-circle").removeClass('valid').addClass('invalid').addClass("glyphicon-remove-circle");
      return false;

    };

    // Enforces server side password rules on the client for convenience
    var enforceRules = function () {

      $('.invalid').removeClass('invalid');

      var pw = password.val().toLowerCase();

      var hasEight = pw.length >= minPasswordLength;
      var hasLower = _hasLowerCase.test(password.val());
      var hasUpper = _hasUpperCase.test(password.val());
      var hasDigit = _hasDigit.test(password.val());
      var hasSpecial = _hasSpecial.test(password.val());

      checkAndSwitchClasses(hasEight, hasEightCharsListItem);
      checkAndSwitchClasses(hasLower, hasLowerCaseListItem);
      checkAndSwitchClasses(hasUpper, hasUpperCaseListItem);
      checkAndSwitchClasses(hasDigit, hasDigitListItem);
      checkAndSwitchClasses(hasSpecial, hasSpecialListItem);

      if (pw.length === 0) $('.invalid').removeClass('invalid');

      // don't move forward until the password is actually *good*
      /*        if (!(hasEight && hasLower && hasUpper && hasDigit && hasSpecial)) {
                  return false;
              }*/

      if (mustMatch() && (hasEight && hasLower && hasUpper && hasDigit && hasSpecial)) {
        $('#submit').addClass('valid');
      } else {
        $('#submit').removeClass('valid');
      }
    };

    return {

      init: function () {
        // hook all password/password2 fields on a page
        password = $('#password');
        password2 = $('#password-verify');

        // hook all req list items
        hasEightCharsListItem = $('#req-length');
        hasUpperCaseListItem = $('#req-upper');
        hasLowerCaseListItem = $('#req-lower');
        hasSpecialListItem = $('#req-special');
        hasDigitListItem = $('#req-digit');

        password.keyup(enforceRules);
        password2.keyup(enforceRules);

      }
    };
  }());
</script>

<body>
  <div id="main-container">
    <div class="form-container">
      <div>
        <input type="text" placeholder="Enter Password" name="password" id="password" />
      </div>
      <div>
        <input type="text" placeholder="Verify Password" name="password-verify" id="password-verify" />
      </div>
      <div>
        <button type="button" id="submit">Submit </button>
      </div>
    </div>
    <div class="req-container">
      <ul>
        <li id="req-length"><span class="glyphicon glyphicon-remove-circle"> </span>&nbsp6 characters</li>
        <li id="req-upper"><span class="glyphicon glyphicon-remove-circle"> </span>&nbspone uppercase</li>
        <li id="req-lower"><span class="glyphicon glyphicon-remove-circle"> </span>&nbspone lowercase</li>
        <li id="req-digit"><span class="glyphicon glyphicon-remove-circle"> </span>&nbspone digit</li>
        <li id="req-special"><span class="glyphicon glyphicon-remove-circle"> </span>&nbspone special character</li>
      </ul>
    </div>
  </div>
</body>

</html>