<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
       
        <!-- Start Content-->
        <div class="container-fluid">

            <nav class="navbar navbar-expand-sm navbar-dark p-0" style="border-bottom:1px solid #3b4452">
                <ul class="nav nav-tabs mr-auto" style="border:0">
                    <li class="nav-item">
                        <a href="#users-tab" id="usertab" data-toggle="tab" aria-expanded="false"
                            class="nav-link usernav active">
                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                            <span class="d-none d-sm-block">Users</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#groups-tab" id="grouptab" data-toggle="tab" aria-expanded="true" class="nav-link groupnav">
                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                            <span class="d-none d-sm-block">Group</span>
                        </a>
                    </li>
                </ul>
                <ul class="ml-auto" style="list-style: none;">
                    <li class="nav-item">
                        <button class="btn btn-xs btn-dark waves-effect waves-light" id="userbtn" data-toggle="modal"
                            data-target="#userRegisterModal"> <i class="mdi mdi-account-plus mr-1"></i> <span>Create
                                User</span>
                        </button>
                        <button class="btn btn-xs btn-dark waves-effect waves-light" id="groupbtn" data-toggle="modal"
                            data-target="#createGroupModal"> <i class="mdi mdi-account-plus mr-1"></i> <span>Create
                                Group</span>
                        </button>
                    </li>
                </ul>

            </nav>


            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="users-tab">
                    <div class="row">

                        <div class="col-md-8 user-listing-container">
                            <table id="list_all_user_table" class="table dt-responsive nowrap table-sm w-100">
                                <thead>
                                    <tr>
                                        <th>Tenant</th>
                                        <th>Admin</th>
                                        <th>State</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody id="list_all_users_tbody">

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4 user-overview-container">

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="groups-tab">

                    <div class="row">
                        <div class="col-md-8 group-listing-container">
                            <table id="list_all_groups_table" class="table dt-responsive nowrap table-sm w-100">
                                <thead>
                                    <tr>
                                        <th>Groupname</th>
                                        <th>Creation Date</th>
                                        <th>Last Modified Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody id="list_all_groups_tbody">

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4 group-overview-container">

                        </div>


                    </div> <!-- end col -->
                </div>
            </div>

       


        </div>

      
        
        <!-- container-fluid -->


      

        <% include ../partials/footer.html %>

    </div>

    <div class="modal fade" id="userRegisterModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalScrollableTitle">Create User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action='' id='register-form' data-parsley-validate novalidate>

                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <input class="form-control" type="text" id="fullName" placeholder="Enter your name"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="email" id="email" required parsley-type="email"
                                placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" required id="password"
                                data-parsley-minlength="8" data-parsley-maxlength="16"
                                placeholder="Enter your password">
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="user-role-checkbox"
                                    id="checkbox-admin">
                                <label class="custom-control-label" for="checkbox-signup">Admin
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="user-role-checkbox"
                                    id="checkbox-user">
                                <label class="custom-control-label" for="checkbox-signup">User
                                </label>
                            </div>
                        </div>

                        <div class="form-group mb-0 text-center">
                            <button id="signin-btn" class="btn btn-sm btn-primary btn-block signin-btn" type="submit">
                                Sign Up </button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalScrollableTitle">Create Group</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action='' id='createGroup-form' data-parsley-validate novalidate>

                        <div class="form-group">
                            <label for="name">Group Name</label>
                            <!-- <input class="form-control dropdown-toggle waves-effect waves-light" type="text" data-toggle="dropdown" aria-expanded="false" id="groupName" placeholder="Enter your Group name"
                            required > -->

                            <select class="form-control groupName dropMenu" id="groupName" name="groupName">
                                <option value="" selected="selected">Select Group Name</option>

                                <option value="Transcoder">Transcoder
                                </option>
                                <option value="Metadata">Advanced Transcoder
                                </option>
                                <option value="Profiler">Profiler
                                </option>

                            </select>

                            <!-- <select class="form-control select2"  id="groupName"
                            parsley-trigger="change" required>
                            <option>Select Group Name</option>

                            <option data-group_type="default" value="Transcoder">Transcoder
                            </option>
                            <option data-group_type="default" value="Metadata">Advanced Transcoder
                            </option>
                            <option data-groupe_type="default" value="Profiler">Profiler
                            </option>

                        </select> -->

                        </div>

                        <div class="form-group">
                            <label for="name">Description</label>
                            <input class="form-control" type="text" id="description"
                                placeholder="Enter your Group Description" required>
                        </div>

                        <div class="form-group">
                            <label for="name">IAM role</label>
                            <input class="form-control" type="text" id="iamrole" placeholder="Enter your IAM role"
                                required>
                        </div>


                        <div class="form-group mb-0 text-center">
                            <button id="creategroup-btn" class="btn btn-sm btn-primary btn-block creategroup-btn"
                                type="submit">
                                Create Group </button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>


    <!-- <div class="modal fade" id="verifyCodeModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" data-backdrop="static"
                        data-keyboard="false">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <p>We have sent a code by email to <span class='text-primary' id='confirm-modal-email-field'>email@example.com</span></p>

                                    <p>Enter it below to confirm your account.</p>
                                    <hr>

                                    <form action='' id='verify-code-form' data-parsley-validate novalidate>
                                    <div class="row form-group">
                                        <div class="col-md-4">
                                            <h5>Verification Code</h5>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" type="number" id="verification_code"
                                                placeholder="" required>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="form-group mb-0 text-center">
                                        <button id="confirm-account-btn"
                                            class="btn btn-sm btn-primary btn-block confirm-account-btn" type="submit">
                                            Confirm Account </button>
                                    </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div> -->

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- custom js -->
<script src="../../custom/js/user_management/user.js"></script>

</body>

</html>