<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/user/settings.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
      <!--<div class="content-page">
        <hr style="margin-top:0rem;margin-bottom: 1rem;">
        <div class="row">
            <div class="col-md-2">
                <div class="tab">
                    <button class="tablinks" onclick="openSettings(event, 'General')" id="defaultOpen"><i
                            class="mdi mdi-settings"></i>&nbsp General</button>
                    <button class="tablinks" onclick="openSettings(event, 'security')"><i
                            class="mdi mdi-security"></i>&nbsp
                        Security and Login</button>
                    <button class="tablinks" onclick="openSettings(event, 'privacy')"><i
                            class="mdi mdi-lock-open"></i>&nbsp
                        Privacy</button>
                </div>
            </div>
            <div class="col-md-10">
                <div class="container">
                    <div id="General" class="tabcontent">
                        <div id="accordion">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                    </div>
                                </div>

                                <div class="col-sm-5">
                                    <% if (userData !== '') { %>
                                    <span class="pro-user-name ml-1"><%=userData.idToken.payload.name%></span>
                                    <% } else { %>
                                    <span class="pro-user-name ml-1">
                                        User <i class="mdi mdi-chevron-down"></i>
                                    </span>
                                    <% }%>
                                </div>
                                <div class="col-sm-5">
                                    <h5 class="m-0">
                                        <a href="#collapseOne" class="text-dark" data-toggle="collapse"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            <button type="button" class="btn btn-secondary btn-xs">Edit</button>
                                        </a>
                                    </h5>
                                </div>
                            </div>

                            <form id="update_name_form" data-parsley-validate novalidate>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="row">
                                        <div class="col-sm-4 offset-sm-2">
                                            <div class="form-group">
                                                <input id="name" name="name" onkeypress="return (event.charCode > 64 && 
                                                event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
                                                    placeholder=" Enter Name" class="form-control" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-1 mb-4">
                                        <div class="col-sm-2 offset-sm-2">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-secondary btn-xs save-change">Save
                                                    Change</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 text-right">
                                            <div class="form-group">
                                                <a href="#collapseOne" class="text-dark" data-toggle="collapse"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                    <button type="submit"
                                                        class="btn btn-secondary btn-xs">Cancel</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>



                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="username">UserName</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">

                                    <% if (userData !== '') { %>
                                    <span class="pro-user-name ml-1"><%=userData.idToken.payload.name%></span>
                                    <% } else { %>
                                    <span class="pro-user-name ml-1">
                                        User<i class="mdi mdi-chevron-down"></i>
                                    </span>
                                    <% } %>
                                </div>


                                <div class="col-sm-5">
                                    <h5 class="m-0">
                                        <a href="#collapseTwo" class="text-dark" data-toggle="collapse"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            <button type="button" class="btn btn-secondary btn-xs">Edit</button>
                                        </a>
                                    </h5>
                                </div>
                            </div>

                            <form id="update_username_form" data-parsley-validate novalidate>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="row">
                                        <div class="col-sm-4 offset-sm-2">
                                            <div class="form-group">
                                                <input id="username" name="username" placeholder=" Enter Username"
                                                    class="form-control" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-1 mb-4">
                                        <div class="col-sm-2 offset-sm-2">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-secondary btn-xs save-change">Save
                                                    Change</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 text-right">
                                            <div class="form-group">
                                                <a href="#collapseTwo" class="text-dark" data-toggle="collapse"
                                                    aria-expanded="false" aria-controls="collapseTwo">
                                                    <button type="submit"
                                                        class="btn btn-secondary btn-xs">Cancel</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="contact">Contact</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">

                                    <p>8805116851</p>
                                </div>

                                <div class="col-sm-5">
                                    <h5 class="m-0">
                                        <a href="#collapseThree" class="collapsed text-dark" data-toggle="collapse"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            <button type="button" class="btn btn-secondary btn-xs" data-toggle="modal"
                                                data-target=" ">Edit</button>
                                        </a>
                                    </h5>
                                </div>

                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="row">
                                    <div class="col-sm-4 offset-sm-2">
                                        <input id="contact" name="contact" placeholder=" Enter Contact"
                                            class="form-control" type="text" required>
                                    </div>
                                </div>
                                <div class="row pt-1 mb-4">
                                    <div class="col-sm-2 offset-sm-2">
                                        <button type="button" class="btn btn-secondary btn-xs" data-toggle="modal"
                                            data-target=" ">Save Change</button>
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <button type="button" class="btn btn-secondary btn-xs" data-toggle="modal"
                                            data-target=" ">Cancel</button>
                                    </div>
                                </div>


                                <p>Please check your email at <a href="">sgavande@skandha.in</a> to verify the address.
                                </p>
                                <div class="row text-center">
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-secondary btn-xs" data-toggle="modal"
                                            data-target=" ">Confirm</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="">Re-Send Email</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="">Change Email Address</a>
                                    </div>
                                </div>

                            </div>


                            <!--div id -->
                        </div>
                    </div>






                    <div id="security" class="tabcontent">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4>Change Password</h4>

                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-secondary btn-xs" data-toggle="modal"
                                    data-target="#changePassword">Edit</button>
                            </div>
                        </div>
                        <p>It' s a good idea to use a strong password that you don't use elsewhere</p>
                    </div>
                </div>
            </div>
            <div id="privacy" class="tabcontent">
            </div>
        </div>
    </div> -->
</div>
</div>

<form action='' id='changePasswordForm' data-parsley-validate novalidate>
    <div class="form-group">
        <label for="currentpassword">Current Password</label>
        <input id="currentPassword" name="currentPassword" placeholder="Current password" class="form-control"
            type="password" required>
    </div>
    <div class="form-group">
        <label for="newpassword">New Password</label>
        <input id="newPassword" name="newPassword" placeholder="New password" class="form-control" type="password"
            data-parsley-minlength="8" data-parsley-maxlength="16" required>
    </div>
    <div class="form-group">
        <label for="retypepassword">Retype Password</label>
        <input id="retypePassword" name="retypePassword" placeholder="Retype password" class="form-control"
            type="password" data-parsley-minlength="8" data-parsley-maxlength="16" required>
    </div>

    <!--Change password Modal Box-->
    <div id="changePassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="asset-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id=" ">Change Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action='' id='changePasswordForm' data-parsley-validate novalidate>
                        <div class="form-group">
                            <label for="currentpassword">Current Password</label>
                            <input id="currentPassword" name="currentPassword" placeholder="Current password"
                                class="form-control" type="password" required>
                        </div>
                        <div class="form-group">
                            <label for="newpassword">New Password</label>
                            <input id="newPassword" name="newPassword" placeholder="New password" class="form-control"
                                type="password" data-parsley-minlength="8" data-parsley-maxlength="16" required>
                        </div>
                        <div class="form-group">
                            <label for="retypepassword">Retype Password</label>
                            <input id="retypePassword" name="retypePassword" placeholder="Retype password"
                                class="form-control" type="password" data-parsley-minlength="8"
                                data-parsley-maxlength="16" required>
                        </div>

                        <div class="form-group mb-0 text-center">
                            <button id="submit-btn" class="btn btn-sm btn-primary btn-block submit-btn" type="submit">
                                Save Changes</button>
                        </div>

                    </form>

                </div>
            </div>
        </div><!-- /.modal -->
    </div>


    <% include ../partials/footer.html %>

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <% include ../partials/right_sidebar.html %>

    <% include ../partials/foot.html %>

    <!-- custom js -->
    <script src="../../custom/js/user_management/settings.js"></script>

    </body>

    </html>