<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">

        <hr style="margin-top: 0rem;margin-bottom: 1rem;">

        <!-- Start Content-->
        <div class="container-fluid">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-primary groups-tab-breadcrumb" href="/v1/users#groups-tab">Groups</a></li>
                <li class="breadcrumb-item" id="group_name"><a href="#"></a></li>
            </ol>

            <div class="row">

                <div class="col-md-12 usersInGroup-listing-container">
                    <table id="list_usersInGroup_table" class="table dt-responsive nowrap table-sm w-100">
                        <thead>
                            <tr>
                                <th>Username/Email</th>
                                <th>Name</th>
                                <th>State</th>
                                <th>Remove</th>
                            </tr>
                        </thead>

                        <tbody id="list_usersInGroup_tbody">

                        </tbody>
                    </table>
                </div>
                <!-- <div class="col-md-4 usersInGroups-overview-container">

                        </div> -->
            </div>


            <!-- container-fluid -->

            <% include ../partials/footer.html %>

        </div>



        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <% include ../partials/right_sidebar.html %>

    <% include ../partials/foot.html %>

    <!-- custom js -->
    <script src="../../custom/js/user_management/user_groups.js"></script>

    </body>

    </html>