.users-tbl-row.active{
    cursor: pointer;
    outline-offset: -1px;
    color: #ffffff;
    background-color: #323a46
}

.users-tbl-row:hover{
    cursor: pointer;
    outline-offset: -1px;
    color: #ffffff;
    background-color: #323a46
}



.all-groups-tbl-row.active{
    cursor: pointer;
    outline-offset: -1px;
    color: #ffffff;
    background-color: #323a46
}

.all-groups-tbl-row:hover{
    cursor: pointer;
    outline-offset: -1px;
    color: #ffffff;
    background-color: #323a46
}




.usersInGroup-tbl-row.active{
    cursor: pointer;
    outline-offset: -1px;
    color: #ffffff;
    background-color: #323a46
}

.usersInGroup-tbl-row:hover{
    cursor: pointer;
    outline-offset: -1px;
    color: #ffffff;
    background-color: #323a46
}

.group-name-link:hover, .groups-tab-breadcrumb:hover{
    text-decoration: underline;
}