* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
    border-right: 1px solid #3b4452;
    height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color:#9097a7;
  padding: 8px 0px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size:.925rem;
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: #71b6f9;
}

/* Style the tab content */
.tabcontent {
  /* float: left; */
  border-left: none;
  height:70vh;
}

